<h1 class="contact_details"><%= @contact.first_name %> <%= @contact.last_name %></h1>
	<p class="contact_details"><strong>Email:  </strong><%= @contact.email %></p>
	<p class="contact_details"><strong>Note:  </strong><%= @contact.note %></p>
	<br></br>
	<form action="/contacts/<%= @contact.id %>/edit" method="link">
		<input type="submit" name="submit" value="Edit Contact" />
	</form>
	<br></br>
	<form action="/contacts/<%= @contact.id %>" method="post">
		<input type="hidden" name="_method" value="delete" />
		<input type="hidden" name="first_name" value=" <%= @contact.first_name %>" />
		<input type="hidden" name="last_name" value=" <%= @contact.last_name %>" />
		<input type="hidden" name="email" value=" <%= @contact.email %>" />
		<input type="hidden" name="note" value=" <%= @contact.note %>" />
		<input type="submit" name="submit" value="Delete Contact" />
	</form>